.vscode/**
.vscode-test/**
xslt-out/**
out/test/**
out/**/*.map
out/**/*.spec.js
out/xpLexerRun.js
out/xslLexerRun.js
src/**
resources/**
sample/**
test/**
.gitignore
tsconfig.json
jest.config.js
tslint.json